.Header_container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid #ccc;
    
}
.Header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 113px;
    border-bottom: 1px solid #ccc;
    background-color: white;
}
.Header_menu {
    width: 30px;
}
.Header_menu:hover {
    cursor: pointer;
}
.Header_logo_box {
    width: 220px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.Header_logo_box img {
    height: 100%;
}
.Header_logo_box img:hover {
    cursor: pointer;
}
.Header_search_box {
    height: 100%;
    width: 45%;
    display: flex;
    align-items: center;
    margin-left: 13%;
}
.Header_search_box:focus {
    width: 50%;
    margin-left: 10%;
}
.Keyboard_in_search {
    position:relative;
    left: 78%;
    top: 4%;
}
.Header_input {
    padding-left: 10px;
    background-color: white;
    width: 100%;
    height: 70%;
    border: none;
    border: 1px solid #ccc;
    border-right: none;
    font-size: 15px;
}
.Header_submit {
    background-color: rgb(247, 247, 247);
    width: 65px;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
}
.Header_submit:hover {
box-shadow: 1px 1px #ccc;
}
.Header_submit:hover {
    cursor: pointer;
}
.Header_mic_box {
    margin-left: 10px;
    width: 50px;
    height: 40px;
    background-color: rgb(246, 246, 246);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Header_mic_box:hover {
    cursor: pointer;
}
.Header_right_part {
    position: fixed;
    right: 40px;
    width: 150px;
    display: flex;
    align-items: center;
    background-color: white;
}
.Header_icons {
    margin: 15px;
}
.Header_icons:hover {
    cursor: pointer;
}
.Header_right_part img {
    margin-left: 15px;
    border-radius: 50%;
    width: 33px;
}
.Header_right_part img:hover {
    cursor: pointer;
}
.Search_popup_box, .Mic_popup_box, .Make_popup_box, .Inform_popup_box {
    display: inline-block;
    position: fixed;
    width: auto;
    height: 35px;
    font-size: 12px;
    background-color: grey;
    line-height: 35px;
    padding-left: 5px;
    padding-right: 5px;
    opacity: 0.9;
    color: white;
}
.Search_popup_box {
    left: 962px;
    top: 70px;
}
.Mic_popup_box {
    left: 1000px;
    top: 70px;
}
.Make_popup_box {
    left: 1255px;
    top: 70px;
}
.Inform_popup_box {
    left: 1312px;
    top: 70px;
}

.Video_add_popup {
    width: 65vw;
    height: 85vh;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 1px 1px 500px 500px rgb(0, 0, 0, .4);
}
