.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.register_box {
    width: 50%;
    height: 85%;
    border: 1px solid lightgrey;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.register_form {
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 6%;
    margin-top: 8%;
}
.register_form p {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 0;
}
.register_form span {
    margin-top: 10px;
}
.register_form img {
    width: 100px;
}
.register_form input {
    width: 80%;
    height: 6%;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid lightgrey;
    margin-top: 40px;
    font-size: 15px;
    padding-left: 10px;
    color: black;
}
.password_box input:nth-child(1) {
    margin-right: 4%;
}
.submit_box {
    width: 80%;
    display: flex;

    justify-content: space-between;
    align-items: center;
    margin-top: 25%;
}
.submit_box a {
    color: rgb(0, 123, 255);
}
.submit_box input {
    width: 80px;
    height: 40px;
    background-color: rgb(0, 123, 255);
    border: none;
    border-radius: 6px;
    color: white;
    margin-bottom: 12%;
}
.right_img {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 10%;
}
.right_img image {
    width: 80%;
}
.right_img p {
    text-align: center;
    font-weight: 300;
    color: grey;
}


.register_form input:nth-child(1) {
    margin-top: 100px;
}