.Video {
    margin-top: 30px;
    background-color: black;
    width: 95%;
    height: 530px;
    margin-bottom: 10px;
}
.Video_info_box {
    width: 95%;
    height: auto;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.Video_info_box span {
    color: rgb(0, 85, 255);
    font-size: 12px;
}
.Video_info_box p {
    margin: 0;
    font-size: 17px;
    font-weight: 500;
}
.Uploader_info_box {
    width: 50%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.Uploader_info {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Uploader_info div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
}
.Uploader_info span {
    font-size: 15px;
    color: black;
}
.Uploader_info p {
    font-size: 12px !important;
}
.Uploader_info_box img {
    height: 100%;
    border-radius: 50%;
}
.Subscribe_button {
    width: 75px;
    height: 38px;
    background-color: rgb(201, 21, 21);
    color: white;
    border-radius: 4px;
    text-align: center;
    line-height: 38px;
    font-size: 14px;
}
.Video_option {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    /* background-color: rgb(0, 0, 0); */
}
.Video_option p {
    font-size: 14px;
    color: grey;
    font-weight: 400;
}
.Box_in_option {
    width: 450px;
    height: 100%;
    /* background-color: beige; */
}
.OptionBox_container {
    width: 100%;
    height: 100%;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.OptionBox_container div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.OptionBox_container span {
    margin-left: 5px !important;
    color: black !important;
    font-size: 14px !important;
}

.Line_under_option {
    width: 100%;
    height: 2px;
    background-color: rgb(226, 226, 226);
    border: none;
}
.Video_explanation_box {
    width: 100%;
    height: 60px;
    /* background-color: aqua; */
}
.Like_popup_box, .Unlike_popup_box, .Share_popup_box, .Download_popup_box {
    display: inline-block;
    position: relative;
    width: auto;
    height: 35px;
    font-size: 12px;
    background-color: grey;
    line-height: 35px;
    padding-left: 5px;
    padding-right: 5px;
    opacity: 0.9;
    color: white;
}
.Like_popup_box {
    left: 490px;
    bottom: 10px;
}
.Unlike_popup_box {
    left: 560px;
    bottom: 10px;
}
.Share_popup_box {
    left: 720px;
    bottom: 10px;
}
.Download_popup_box {
    left: 800px;
    bottom: 10px;
}