.Video {
    margin-top: 30px;
    background-color: black;
    width: 95%;
    height: 530px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.Video_info_box {
    width: 95%;
    height: auto;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.Video_info_box span {
    color: rgb(0, 85, 255);
    font-size: 12px;
}
.Video_info_box p {
    margin: 0;
    font-size: 17px;
    font-weight: 500;
}
.Video_views {
    font-size: 14px !important;
    margin-top: 20px !important;
}
.Uploader_info_box {
    width: 50%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.Uploader_info {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Uploader_info div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
}
.Uploader_info span {
    font-size: 15px;
    color: black;
}
.Uploader_info p {
    font-size: 12px !important;
}
.Uploader_info_box img {
    height: 100%;
    border-radius: 50%;
}
.Subscribe_button {
    width: 75px;
    height: 38px;
    background-color: rgb(201, 21, 21);
    color: white;
    border-radius: 4px;
    text-align: center;
    line-height: 38px;
    font-size: 14px;
}
.Video_option {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    /* background-color: rgb(0, 0, 0); */
}
.Video_option p {
    font-size: 14px;
    color: grey;
    font-weight: 400;
}
.Box_in_option {
    width: 450px;
    height: 100%;
    /* background-color: beige; */
}
.OptionBox_container {
    width: 100%;
    height: 100%;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.OptionBox_container div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.OptionBox_container span {
    margin-left: 5px !important;
    color: black !important;
    font-size: 14px !important;
}

.Line_under_option {
    width: 100%;
    height: 1.5px;
    background-color: rgb(226, 226, 226);
    border: none;
}
.Video_explanation_box {
    /* margin-top: 30px; */
    width: 100%;
    /* height: 35px; */
    /* background-color: aqua; */
    margin-bottom: 0;
}
.Like_popup_box, .Unlike_popup_box, .Share_popup_box, .Download_popup_box {
    display: inline-block;
    position: absolute;
    width: auto;
    height: 35px;
    font-size: 12px;
    background-color: grey;
    line-height: 35px;
    padding-left: 5px;
    padding-right: 5px;
    opacity: 0.9;
    color: white;
}
.Like_popup_box {
    left: 500px;
    top: 800px;
}
.Unlike_popup_box {
    left: 600px;
    top: 800px;
}
.Share_popup_box {
    left: 750px;
    top: 800px;
}
.Download_popup_box {
    left: 820px;
    top: 800px;
}
.More_info_box {
    position: relative;
    top: 10px;
    width: 65%;
    height: auto;
    margin-left: 6%;
    margin-bottom: 10px;
    /* background-color: beige; */
}
.More_info_box div {
    font-size: 14px;
}
.More_info_box span {
    margin-top: 20px !important;
    color: grey;
    cursor: pointer;
}
.Comment_box {
    width: 100%;
}
.Comment_sort_box {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.Comment_sort_box div {
    display: flex;
    flex-direction: row;
    align-items: center;  
    justify-content: space-between;  
}
.Comment_sort {
    color: black !important;
    font-size: 14px !important;
}
.Comment_number {
    font-size: 16px !important;
    color: black !important;
}
.Comment_input_part {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background-color: aquamarine; */
}
.Comment_input_part img {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    margin-bottom: 20px;
    margin-right: 10px;
}
.Comment_input_box {
    width: 100%;
}
.Comment_input_box div {
    float: right;
    display: flex;
    flex-direction: row;
}
.Comment_input_box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    color: #666;
    vertical-align: middle;
    box-sizing: border-box;
}

.Comment_input_box input:focus {
    outline: none;
}

@keyframes inputAnimation {
    from {
        box-sizing: inherit;
        border-bottom: 1px solid #000;
        transform: scale3d(0, 1, 0);
    }
    to {
        box-sizing: inherit;
        border-bottom: 2px solid #000;
        transform: scale3d(1, 1, 1);
    }
}
.Comment_line {
    position: absolute;
    top: 116.5%;
    height: 1px;
    width: 62%;
    background-color: lightgrey;
}
.Comment_line_inAni {
    position: absolute;
    top: 116.5%;
    height: 2px;
    width: 62%;
    background-color: black;
    animation-name: inputAnimation;
    animation-duration: 0.3s;
}
.Comment_buttons {
    width: 72px;
    height: 37px;
    line-height: 37px;
    margin: 7px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    color: #909090;
    font-size: 13px;
}
#Comment_btn1 {
    background-color: rgb(246, 246, 246);
    color: #787878;
}
#Comment_btn2 {
    background-color: rgb(225, 225, 225);
}